:root {
    --tab: 2em;

    /* Colors */
    --color-yellow: #fbeb70;
    --color-orange: #ffb458;
    --color-green: #14b914;
    --color-pink: #f54ca6;
    --color-red: #ff0000;
    -color-blue: #646cff;

    --color-black: #000;
    /* Transparent Colors */
    --color-beige-transparent: #f5f5dc20;
}  

#code {
    display: flex;
    min-width: 320px;
    margin-bottom: 25px;
}

#lines {
    min-width: 50px;
    text-align: right;
    padding-right: 10px;
    background-color: var(--color-beige-transparent);
}

#status-bar {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    position: fixed;
    /* padding: 0 15px; */
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    background-color: #3f3f3c;
    z-index: 1;
}

#status-bar .left {
    display: flex;
}

#status-bar .right {
    display: flex;
}

/* Selector */

.selector {
    display: inline-block;
    color: var(--color-yellow)
}

.selector::after {
    content: "{";

    display: inline-block;
    color: var(--color-yellow);
    margin-left: 0.5em;
}

/* Block */

.tab {
    margin-left: 2em;
}

.block {
    border-left: 0.001rem solid gray;
}

.block-end::after {
    content: "}";
    color: var(--color-orange);
    display: block;
}

/* Code Lines */

.property {
}

.property::after {
    content: ":";
}

.value {
    margin-left: 0.5em;
}

.value::after {
    content: ";";
    color: #fff;
}

.string {
    color: var(--color-orange);
}

.string::after {
    content: "\"";
    color: var(--color-orange);
}

.string::before {
    content: "\"";
    color: var(--color-orange);
}

.url {
    color: var(--color-green);
}

.url::after {
    content: ")";
    color: var(--color-pink);
}

.url::before {
    content: "url(";
    color: var(--color-pink);
}

.plain {
    color: var(--color-yellow);
}

.list {
    margin-left: var(--tab);
    display: inline;
}

.list .list-item {
    display: block;
}

.list .list-item:last-child {
    display: inline-block;
}

.list-item {
    margin-left: var(--tab);
    color: var(--color-green);
}


.list-item::after {
    content: ")";
    color: var(--color-pink);
}

.list-item::before {
    content: "(";
    color: var(--color-pink);
}

.params {
    color: var(--color-green);
    display: inline;
}

.params::before {
    content: "(";
    color: var(--color-pink);
}

.params .param:not(:last-child)::after {
    content: ", ";
    color: #fff;
}

.params .param:last-child::after {
    content: ")";
    color: var(--color-pink);
}

/* Status Bar */
.status-item {
    height: 100%; 
    padding: 0 5px;
    display: flex;
}

.status-item:hover {
    background-color: gray;
    cursor: pointer;
}

.unstyled-link {
    color: inherit;
    text-decoration: none;
}

.unstyled-link:hover {
    color: inherit;
    text-decoration: none;
}
/* Dark Mode */
@media (prefers-color-scheme: light) {

    #status-bar {
        border-top: 0.01px solid gray;
        background-color: #fefefb;
    }

    .selector {
        color: var(--color-black)
    }
    
    .selector::after {
        color: var(--color-black);
    }

    .value::after {
        color: #000;
    }

    .params .param:not(:last-child)::after {
        content: ", ";
        color: #000;
    }

    .plain {
        color: var(--color-black);
    }
}